@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;700&family=Courgette&family=Lobster&family=Pacifico&family=Satisfy&display=swap');

<<<<<<< HEAD
.test-one{
    font-family: Lobster
}

=======
>>>>>>> cce33b4cfc3b74e8e740eb5d60c0de0ce2f79a52
.atma {
    font-family: Atma
}

.courgette {
    font-family: Courgette
}

.lobster {
    font-family: Lobster
}

.pacifico {
    font-family: Pacifico
}

